:root {
    --primary-color: #455F48;
    --secondary-color: #DFEAD6;
    --accent1-color: #13315C;
    --accent2-color: #A7CAF1;
    --heading-font: "Rammeto One", sans-serif;
    --body-font: "sarala", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
}

header, footer{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header{
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 16px;
}

#image-logo {
    margin-left: 16px;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: wavy underline;
    text-decoration-color: var(--secondary-color);
}

a:active {
    color: var(--secondary-color);
}

main {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgba(167, 202, 241, 0.5);
    padding: 0 16px 16px 16px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

.hero {
    position: relative;
}

.hero > img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    left: 0;
    top: 80px;
    width: 95%;
    /* height: 125px; */
    /* display: flex; */
    background-color: var(--secondary-color);
}

.hero article img {
    object-fit: cover;
    float: right;
    width: 88px;
    margin: 2px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

nav, p, section, article {
    padding: 16px;
}

p, section, article {
    margin: 16px;
}

p {
    font-family: "sarala", sans-serif;
    font-size: 1.2rem;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 16px;
}

.history, .adventure {
    margin: 8px 0;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.adventure {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
}

.adventure-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.adventure-images figure img {
    height: 200px;
    object-fit: cover;
}

.history-content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.history-content img {
    height: 400px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.socialmedia {
    display: flex;
    list-style-type: none;
}

.socialmedia img {
    width: 40px;
    margin: 8px;
}

.socialmedia a {
    text-decoration: none;
}